.logo {
    width: 100px;
    height: 100px;
    margin: 0 1rem;
    background-image: url('/img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex-shrink: 0; 
}


.main-content
{
    position: relative;
    height: calc(100vh - 64px);
}
