@page "/" 
@using MudBlazor

<PageTitle>Pertamina Inventory System</PageTitle>

<div class="bgHome">
    <MudContainer MaxWidth="MaxWidth.Large" Class="content-wrapper pb-12">
        <div class="header-text mb-10 pa-8">
            <MudText Typo="Typo.h3" Style="font-weight:600; color: black; letter-spacing: -1px;">
                Welcome to <br /> Pertamina Inventory
            </MudText>
            <MudText Typo="Typo.h6" Style="color: rgba(0,0,0,0.5); font-weight: 400;">
                What can we do for you today?
            </MudText>
        </div>

        <MudStack Row="true" Spacing="4" Class="flex-wrap" Style="padding: 0 2rem 2rem 2rem">
            <NavLink href="/Dashboard" Class="card-link">
                <MudCard Class="inventory-card" Outlined="true">
                    <MudCardHeader>
                        <MudAvatar Style="background-color:#FD0017; width: 70px; height: 70px;" Variant="Variant.Filled">
                            <MudIcon Icon="@Icons.Material.Filled.Assignment" Style="color: white; font-size: 2.5rem;" />
                        </MudAvatar>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h5" Class="card-title">Peminjaman</MudText>
                        <MudText Typo="Typo.body2" Class="card-desc">Proses peminjaman barang dengan cepat dan terdata.</MudText>
                    </MudCardContent>
                    <div class="card-footer-line" style="background-color: #FD0017"></div>
                </MudCard>
            </NavLink>

            <NavLink href="/Inventory" Class="card-link">
                <MudCard Class="inventory-card" Outlined="true">
                    <MudCardHeader>
                        <MudAvatar Style="background-color:#0073FE; width: 70px; height: 70px;" Variant="Variant.Filled" >
                            <MudIcon Icon="@Icons.Material.Filled.Inventory2" Style="color: white; font-size: 2.5rem;"  />
                        </MudAvatar>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h5" Class="card-title">Inventory</MudText>
                        <MudText Typo="Typo.body2" Class="card-desc">Cek ketersediaan stok barang secara real-time.</MudText>
                    </MudCardContent>
                    <div class="card-footer-line" style="background-color: #0073FE"></div>
                </MudCard>
            </NavLink>

            <NavLink href="/Rak" Class="card-link">
                <MudCard Class="inventory-card" Outlined="true">
                    <MudCardHeader>
                        <MudAvatar Style="background-color:#9FE400; width: 70px; height: 70px;" Variant="Variant.Filled">
                            <MudIcon Icon="@Icons.Material.Rounded.GridView" Style="color: white; font-size: 2.5rem;" />
                        </MudAvatar>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h5" Class="card-title">View Rak</MudText>
                        <MudText Typo="Typo.body2" Class="card-desc">Visualisasi posisi rak dan ketersediaan slot.</MudText>
                    </MudCardContent>
                    <div class="card-footer-line" style="background-color: #9FE400"></div>
                </MudCard>
            </NavLink>
        </MudStack>


    </MudContainer>
</div>
