@page "/"
@using MudBlazor

<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<PageTitle>Pertamina Inventory System</PageTitle>
<div class="bgHome"> 
    <MudContainer MaxWidth="MaxWidth.Large" Class="content-wrapper">
        <MudText Typo="Typo.h4" Style="font-weight:600; color: white">Welcome to </MudText>
        <MudText Typo="Typo.h4" Style="font-weight:600; color: white">Pertamina Inventory System</MudText>
        <MudText Typo="Typo.subtitle1" Class="mb-12" Style="color: white">What can we do for you?</MudText>
        <MudStack Row="true">
        <MudCard Class="my-5 pa-1 d-flex shadow-4 flex-column" Outlined="true" Style="width: 30%; height: auto; border-radius: 16px">
            <MudCardHeader >
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" Style="background-color:#FD0017">
                        <MudIcon Icon="@Icons.Material.Filled.Assignment" />
                    </MudAvatar>
                </CardHeaderAvatar>
            </MudCardHeader>
            <MudCardContent Class="d-flex flex-column justify-center ">
                <MudText Typo="Typo.h5" Style="font-weight:700;">
                    Peminjaman Barang 
                </MudText>
                <MudText Typo="Typo.subtitle1">Kamu bisa meminjam barang disini</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Class="my-5 pa-1 d-flex shadow-4 flex-column" Outlined="true" Style="width: 30%; height: auto; border-radius: 16px">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" Style="background-color:#0073FE">
                        <MudIcon Icon="@Icons.Material.Filled.Inventory2" />
                    </MudAvatar>
                </CardHeaderAvatar>
            </MudCardHeader>
            <MudCardContent Class="d-flex flex-column justify-center ">
                <MudText Typo="Typo.h5" Style="font-weight:700;">
                    Inventory
                </MudText>
                <MudText Typo="Typo.subtitle1">Tempat semua barang disimpan</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Class="my-5 pa-1 d-flex shadow-4 flex-column" Outlined="true" Style="width: 30%; height: auto; border-radius: 16px">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" Style="background-color:#9FE400">
                        <MudIcon Icon="@Icons.Material.Rounded.GridView" />
                    </MudAvatar>
                </CardHeaderAvatar>
            </MudCardHeader>
            <MudCardContent Class="d-flex flex-column justify-center ">
                <MudText Typo="Typo.h5" Style="font-weight:700;">
                    View Rak
                </MudText>
                <MudText Typo="Typo.subtitle1">Harap cek ketersediaan slot terlebih dahulu</MudText>
            </MudCardContent>
        </MudCard>
        </MudStack>
    </MudContainer>
</div> 
@code {

}
