html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#blazor-error-ui
{
    background: lightyellow;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    bottom: 0;
    padding: 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 9000;
}

    #blazor-error-ui .dismiss
    {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.text-multiline
{
    white-space: pre-wrap;
}

.text-bold
{
    font-weight: bold !important;
}

.font-monospace
{
    font-family: 'Cascadia Mono', Consolas, 'Courier New', Courier, monospace;
}

.right-buttons
{
    text-align: right;
}

    .right-buttons button:not(:last-child)
    {
        margin-right: 8px;
    }

.left-buttons
{
    text-align: left;
}

    .left-buttons *:not(:first-child)
    {
        margin-right: 8px;
    }

.mud-table
{
    width: 100%;
}

.tab-panel-vertical
{
    justify-content: start;
}
.bgHome::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25); /* atur tingkat gelap */
    z-index: 1;
}

.content-wrapper {
    position: relative;
    z-index: 2;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bgHome {
    min-height: calc(100vh - 64px);
    width: 100%;
    background: url('/img/bgHome.jpg') center / cover no-repeat;
    display: flex;
    align-items: flex-start;
}

.custom-appbar {
    background-color: #ffffff;
    color: #1f2937;
}