html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#blazor-error-ui
{
    background: lightyellow;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    bottom: 0;
    padding: 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 9000;
}

    #blazor-error-ui .dismiss
    {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.text-multiline
{
    white-space: pre-wrap;
}

.text-bold
{
    font-weight: bold !important;
}

.font-monospace
{
    font-family: 'Cascadia Mono', Consolas, 'Courier New', Courier, monospace;
}

.right-buttons
{
    text-align: right;
}

    .right-buttons button:not(:last-child)
    {
        margin-right: 8px;
    }

.left-buttons
{
    text-align: left;
}

    .left-buttons *:not(:first-child)
    {
        margin-right: 8px;
    }

.mud-table
{
    width: 100%;
}

.tab-panel-vertical
{
    justify-content: start;
}
/*.bgHome::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);*/ /* atur tingkat gelap */
    /*z-index: 1;
}*/


.custom-appbar {
    background-color: #ffffff;
    color: #1f2937;
}

.bgHome {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card-link, .card-link:hover, .card-link:focus {
    text-decoration: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: inherit !important;
    width: 30%;
    min-width: 280px;
}


.inventory-card {
    height: 280px;
    border-radius: 20px !important;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    overflow: hidden;
/*    border: solid 2px black;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .inventory-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 20px 40px rgba(0,0,0,0.2) !important;
    }

.card-title {
    font-weight: 800 !important;
    margin-bottom: 8px;
}

.card-desc {
    color: #666;
    line-height: 1.4;
}

.card-footer-line {
    height: 6px;
    width: 0%;
    transition: width 0.4s ease;
}

.inventory-card:hover .card-footer-line {
    width: 100%;
}

.content-wrapper {
    z-index: 2;
}